---
title: 'Contributors'
---
{% include head.html %}

<body class="body-orange">
    <div class="page-wrapper">

        {% include breadcrumbs.html current=page.title %}

        <div class="content-wrapper">
            <div class="container">
                <div id="content-header" class="content-header text-center">
                    <h1 class="content-title">
                        <span aria-hidden="true" class="icon icon_group"></span>
                        {{ page.title }}
                    </h1>
                    <div class="meta">
                        <i class="far fa-clock"></i>
                        Last updated: {{ site.time | date: '%d.%m.%Y' }}
                    </div>
                </div>
                <div class="content-body row">
                    <div class="col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <section id="contributors" class="content-section">
                                <h2 class="section-title">Meet our contributors from all over the world</h2>
                                <div class="section-block">
                                    {% for contributor in site.data.contributors %}
                                        {% assign rowindex = forloop.index | modulo: 3 %}
                                        {% if forloop.index == 1 %}<div class="row">{% endif %}
                                        <div class="col-md-4 col-12 mb-3">
                                            <div class="theme-card">
                                                <img class="img-fluid" src="https://github.com/{{ contributor.github }}.png?size=80" alt="{{ contributor.name }}" style="margin-top:20px"/>
                                                <div class="card-block">
                                                    <h4 class="card-title">{{ contributor.name }}</h4>
                                                    <p class="card-text">
                                                        {% if contributor.tags contains 'code' %}<i class="fas fa-code" alt="Code" title="Code"></i>{% endif %}
                                                        {% if contributor.tags contains 'website' %}<i class="fas fa-globe" alt="Website" title="Website"></i>{% endif %}
                                                        {% if contributor.tags contains 'documentation' %}<i class="fas fa-book" alt="Documentation" title="Documentation"></i>{% endif %}
                                                        {% if contributor.tags contains 'support' %}<i class="fas fa-headset" alt="Support" title="Support"></i>{% endif %}
                                                        <br/>
                                                        <br/>
                                                        Github: <a href="https://github.com/{{ contributor.github }}">{{ contributor.github }}</a><br/>
                                                        {% if contributor.twitter %}
                                                        Twitter: <a href="https://twitter.com/{{ contributor.twitter }}">{{ contributor.twitter }}</a>
                                                        {% endif %}
                                                        <br/>
                                                        {% if contributor.country %}
                                                        <small class="text-muted">{{ contributor.country }}</small>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% if rowindex == 0 %}</div><div class="row">{% endif %}
                                        {% if forloop.last == true %}</div>{% endif %}
                                    {% endfor %}
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="content-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="content-nav" class="content-nav">
                            <nav id="content-menu" class="nav content-menu flex-column sticky">
                                <a class="nav-link scrollto" href="#contributors">Contributors</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include promo.html %}

    </div>

    {% include footer.html %}
</body>
</html>
