---
title: 'Documentation'
---
{% include head.html %}

<body class="body-pink">
    <div class="page-wrapper">

        {% include breadcrumbs.html current=page.title %}

        <div class="content-wrapper">
            <div class="container">
                <div id="content-header" class="content-header text-center">
                    <h1 class="content-title">
                        <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                        {{ page.title }}
                    </h1>
                </div>
                <div class="content-body row">
                    <div class="col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <section id="dashboards" class="content-section">
                                <h2 class="section-title">User Guide</h2>
                                <div class="section-block">
                                    <p>
                                        The following modules have userguide pages. Please keep in mind that not all of
                                        them are updated to Koseven, but everything should work as described. If you
                                        face issues with an example shown in this documentation feel free to let us
                                        know.
                                    </p>
                                    <p>
                                        <a href="/documentation/kohana">Koseven</a>
                                        - Documentation for Koseven core.
                                    </p>
                                    <p>
                                        <a href="/documentation/auth">Auth</a>
                                        - User authentication and authorization.
                                    </p>
                                    <p>
                                        <a href="/documentation/cache">Cache</a>
                                        - Common interface for caching engines.
                                    </p>
                                    <p>
                                        <a href="/documentation/codebench">Codebench</a>
                                        - Code benchmarking tool.
                                    </p>
                                    <p>
                                        <a href="/documentation/database">Database</a>
                                        - Database agnostic querying and result management.
                                    </p>
                                    <p>
                                        <a href="/documentation/image">Image</a>
                                        - Image manipulation.
                                    </p>
                                    <p>
                                        <a href="/documentation/minion">Minion</a>
                                        - Minion is a simple command line task runner
                                    </p>
                                    <p>
                                        <a href="/documentation/orm">ORM</a>
                                        - Official ORM module, a modeling library for object relational mapping.
                                    </p>
                                    <p>
                                        <a href="/documentation/unittest">Unittest</a>
                                        - Unit testing module
                                    </p>
                                    <p>
                                        <a href="/documentation/userguide">Userguide</a>
                                        - Documentation viewer and api generation.
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="content-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="content-nav" class="content-nav">
                            <nav id="content-menu" class="nav content-menu flex-column sticky">
                                <a class="nav-link" href="/documentation/kohana">Core</a>
                                <a class="nav-link" href="#">Modules</a>
                                    <nav class="content-sub-menu nav flex-column">
                                        <a class="nav-link" href="/documentation/auth">Auth</a>
                                        <a class="nav-link" href="/documentation/cache">Cache</a>
                                        <a class="nav-link" href="/documentation/codebench">Codebench</a>
                                        <a class="nav-link" href="/documentation/database">Database</a>
                                        <a class="nav-link" href="/documentation/image">Image</a>
                                        <a class="nav-link" href="/documentation/minion">Minion</a>
                                        <a class="nav-link" href="/documentation/orm">ORM</a>
                                        <a class="nav-link" href="/documentation/unittest">Unittest</a>
                                        <a class="nav-link" href="/documentation/userguide">Userguide</a>
                                    </nav>
                                <a class="nav-link" href="/documentation/api">API-Browser</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include promo.html %}

    </div>

    {% include footer.html %}
</body>
</html>
