---
title: 'Koseven a Kohana Framework fork compatible with PHP7'
---
{% include head.html %}

<body class="landing-page">

    <div class="page-wrapper">

        <!-- ******Header****** -->
        <header class="header text-center" style="background: #3793e8;">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <img src="/assets/images/koseven.png" alt="Koseven Logo" />
                    </h1>
                </div><!--//branding-->
                <div class="tagline">
                    <p>Successor of the Kohana Framework - fully compatible with PHP7+</p>
                    <p>Maintained with <i class="fas fa-heart"></i> from our contributors</p>
                </div><!--//tagline-->
                <div class="social-container">
	                <div class="github-btn mb-2">
                        <a class="btn btn-secondary" href="https://github.com/koseven/koseven" target="_blank" aria-label="Show @koseven on GitHub"><i class="fab fa-github"></i> Github</a>
                        <a class="btn btn-secondary" href="https://koseven.discourse.group/" target="_blank" aria-label="koseven Forum"><i class="fas fa-comments"></i> Forum</a>
                        <a class="btn btn-secondary" href="https://telegram.me/koseven" aria-label="koseven Telegram Group" target="_blank"><i class="fab fa-telegram"></i> Telegram</a>
	                </div>
            </div><!--//container-->
        </header><!--//header-->

        <section class="cards-section text-center">
            <div class="container">
                <h2 class="title">Getting started is easy!</h2>
                <div class="intro">
                    <div class="cta-container">
                        <a class="btn btn-primary btn-cta" href="https://github.com/koseven/koseven/archive/master.zip" target="_blank"><i class="fas fa-cloud-download-alt"></i> Download Now</a>
                    </div><!--//cta-container-->
                </div><!--//intro-->
                <div id="cards-wrapper" class="cards-wrapper row">
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <i class="icon fa fa-paper-plane"></i>
                            </div><!--//icon-holder-->
                            <h3 class="title">Quick Start</h3>
                            <p class="intro">Get ready with koseven</p>
                            <a class="link" href="/start"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-pink item-2 col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_documents_alt"></span>
                            </div><!--//icon-holder-->
                            <h3 class="title">Documentation</h3>
                            <p class="intro">You find the documentation here</p>
                            <a class="link" href="/documentation"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-blue col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                            </div><!--//icon-holder-->
                            <h3 class="title">Modules</h3>
                            <p class="intro">Extend koseven with modules from different contributors</p>
                            <a class="link" href="/modules"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-purple col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_lifesaver"></span>
                            </div><!--//icon-holder-->
                            <h3 class="title">About / Help</h3>
                            <p class="intro">You need help? You have questions? You found a bug?</p>
                            <a class="link" href="/help"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-primary col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_genius"></span>
                            </div><!--//icon-holder-->
                            <h3 class="title">Showcase</h3>
                            <p class="intro">See whats build with Koseven</p>
                            <a class="link" href="/showcase"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-orange col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_group"></span>
                            </div><!--//icon-holder-->
                            <h3 class="title">Contributors</h3>
                            <p class="intro">Meet all the people who are working on koseven</p>
                            <a class="link" href="/contributors"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//cards-->

            </div><!--//container-->
        </section><!--//cards-section-->
        <section class="story text-center">
            <div class="container">
                <h2 class="title">Why use Koseven?</h2>
                <div class="feature-wrapper row">
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner text-left row">
                            <div class="icon-holder col-md-2 col-lg-2 col-xl-2 col-10">
                                <i class="icon fa fa-tools"></i>
                            </div><!--//icon-holder-->
                            <div class="feature-holder col-md-8 col-lg-10 col-xl-10 col-10">
                                <h3 class="title">Build applications quickly</h3>
                                <p class="intro">
                                    With integrated tools for translation, databases, encryption and many more.
                                </p>
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner text-left row">
                            <div class="icon-holder col-md-2 col-lg-2 col-xl-2 col-10">
                                <i class="icon far fa-clock"></i>
                            </div><!--//icon-holder-->
                            <div class="feature-holder col-md-8 col-lg-10 col-xl-10 col-10">
                                <h3 class="title">A very fast framework</h3>
                                <p class="intro">
                                    Benchmarking a framework is hard, but Koseven
                                    is very efficient and carefully optimized for real world usage.
                                </p>
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner text-left row">
                            <div class="icon-holder col-md-2 col-lg-2 col-xl-2 col-10">
                                <i class="icon fas fa-suitcase"></i>
                            </div><!--//icon-holder-->
                            <div class="feature-holder col-md-8 col-lg-10 col-xl-10 col-10">
                                <h3 class="title">Write commercial applications</h3>
                                <p class="intro">
                                    Uses the BSD license, so you can use and modify it for commercial purposes.
                                </p>
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner text-left row">
                            <div class="icon-holder col-md-2 col-lg-2 col-xl-2 col-10">
                                <i class="icon fas fa-magic"></i>
                            </div><!--//icon-holder-->
                            <div class="feature-holder col-md-8 col-lg-10 col-xl-10 col-10">
                                <h3 class="title">Use specific libraries and tools</h3>
                                <p class="intro">
                                    Extending existing components and adding new libraries is very easy.
                                </p>
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner text-left row">
                            <div class="icon-holder col-md-2 col-lg-2 col-xl-2 col-10">
                                <i class="icon fas fa-bug"></i>
                            </div><!--//icon-holder-->
                            <div class="feature-holder col-md-8 col-lg-10 col-xl-10 col-10">
                                <h3 class="title">Good debugging and profiling tools</h3>
                                <p class="intro">
                                    Simple and effective tools help identify and solve performance issues quickly.
                                </p>
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner text-left row">
                            <div class="icon-holder col-md-2 col-lg-2 col-xl-2 col-10">
                                <i class="icon fas fa-search"></i>
                            </div><!--//icon-holder-->
                            <div class="feature-holder col-md-8 col-lg-10 col-xl-10 col-10">
                                <h3 class="title">Know what Koseven is doing</h3>
                                <p class="intro">
                                    Well commented code and a simple routing structure makes it easy to
                                    understand what is happening.
                                </p>
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-green col-lg-4 col-6 hide-sm">
                        <div class="item-inner text-left row">
                            <div class="icon-holder col-md-2 col-lg-2 col-xl-2 col-10">
                                <i class="icon fas fa-box-open"></i>
                            </div><!--//icon-holder-->
                            <div class="feature-holder col-md-8 col-lg-10 col-xl-10 col-10">
                                <h3 class="title">Work with objects and classes</h3>
                                <p class="intro">
                                    This is an OOP framework that is extremely DRY. Everything is built
                                    using PHP 7+ classes and objects.
                                </p>
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner text-left row">
                            <div class="icon-holder col-md-2 col-lg-2 col-xl-2 col-10">
                                <i class="icon fas fa-code"></i>
                            </div><!--//icon-holder-->
                            <div class="feature-holder col-md-8 col-lg-10 col-xl-10 col-10">
                                <h3 class="title">Write your own code</h3>
                                <p class="intro">
                                    There are no code generators and endless configuration files,
                                    so setting up is fast and easy.
                                </p>
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner text-left row">
                            <div class="icon-holder col-md-2 col-lg-2 col-xl-2 col-10">
                                <i class="icon fas fa-users"></i>
                            </div><!--//icon-holder-->
                            <div class="feature-holder col-md-8 col-lg-10 col-xl-10 col-10">
                                <h3 class="title">Community Support</h3>
                                <p class="intro">
                                    A active community forum and telegram group means that most questions
                                    are answered very quickly.
                                </p>
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div>
            </div>
        </section>
    </div><!--//page-wrapper-->
    {% include footer.html %}
</body>
</html>

