---
title: 'Modules'
---
{% include head.html %}

<body class="body-blue">
    <div class="page-wrapper">

        {% include breadcrumbs.html current=page.title %}

        <div class="content-wrapper">
            <div class="container">
                <div id="content-header" class="content-header text-center">
                    <h1 class="content-title">
                        <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                        {{ page.title }}
                    </h1>
                    <div class="meta">
                        <i class="far fa-clock"></i>
                        Last updated: {{ site.time | date: '%d.%m.%Y' }}
                    </div>
                </div>
                <div class="content-body row">
                    <div class="col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <div class="callout-block callout-success">
                                <div class="icon-holder">
                                    <i class="fas fa-thumbs-up"></i>
                                </div>
                                <div class="content">
                                    <h4 class="callout-title">Add your module:</h4>
                                    <ol style="padding-left: 20px;">
                                        <li>Fork project</li>
                                        <li>Edit _data/modules.yaml</li>
                                        <li>Add your module</li>
                                        <li>Do a Pull Request</li>
                                    </ol>
                                </div>
                            </div>

                            {% for category in site.data.categories %}
                                <section id="{{ category.name }}" class="content-section">
                                    <h2 class="section-title">{{ category.name | capitalize }}</h2>
                                    {% assign filtered-modules = site.data.modules | where:'category', category.name %}
                                    {% for module in filtered-modules %}
                                    <div class="section-block">
                                        <h3 class="question">
                                            <i class="fas fa-cube"></i>
                                            <a target="_blank" href="{{ module.url }}">{{ module.name }}</a>
                                        </h3>
                                        <div class="answer">{{ module.description }}</div>
                                    </div>
                                    {% endfor %}
                                </section>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="content-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="content-nav" class="content-nav">
                            <nav id="content-menu" class="nav content-menu flex-column sticky">
                                {% for category in site.data.categories %}
                                    <a class="nav-link scrollto" href="#{{ category.name }}">{{ category.name | capitalize }}</a>
                                {% endfor %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include promo.html %}

    </div>

    {% include footer.html %}
</body>
</html>
