<!-- ******Breadcrumb Header ****** -->
<header id="header" class="header">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <a href="/">
                    <img style="max-height: 1.5em;" src="/assets/images/koseven.png" alt="Koseven Logo" />
                </a>
            </h1>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            {% if include.pre %}
                <li class="breadcrumb-item">
                    <a href="/{{ include.pre }}">{{ include.pre | capitalize_all }}</a>
                </li>
            {% endif %}
            <li class="breadcrumb-item active">{{ include.current }}</li>
        </ol>
    </div>
</header>
<!-- END Breadcrumb Header -->
