    <footer class="footer text-center">
        <div class="container">
            <small class="copyright">
                Designed with <i class="fas fa-heart"></i> by
                <a href="https://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> for developers
            </small>
        </div>
    </footer>

    <!-- Main Javascript -->
    <script type="text/javascript" src="/assets/plugins/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
