<div id="promo-block" class="promo-block">
    <div class="container">
        <div class="promo-block-inner">
            <h3 class="promo-title text-center">
                <i class="fas fa-hands-helping"></i>
                <a href="https://github.com/koseven/koseven" target="_blank">Do you want to contribute to Koseven?</a>
            </h3>
            <div class="row">
                <div class="figure-holder col-lg-5 col-md-6 col-12">
                    <div class="figure-holder-inner">
                        <a href="https://github.com/koseven/koseven/" target="_blank">
                            <img class="img-fluid" src="/assets/images/KO7.png" alt="Koseven Logo" />
                        </a>
                        <a class="mask" href="https://github.com/koseven/koseven" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
                <div class="content-holder col-lg-7 col-md-6 col-12">
                    <div class="content-holder-inner">
                        <div class="desc">
                            <h4 class="content-title"><strong> We need YOUR help! </strong></h4>
                            This project is open source. What does this mean? YOU can help:
                            <ul>
                                <li>
                                    Found a bug? Report it on <a href="https://github.com/koseven/koseven/issues/new?labels=bug&template=bug_report.md" target="_blank">Github</a>
                                </li>
                                <li>
                                    Need a feature? Add it <a href="https://github.com/koseven/koseven/issues/new?labels=enhancement&template=feature_request.md" target="_blank">Here</a>
                                </li>
                                <li>
                                    Want to help? Join the <a href="https://koseven.discourse.group/" target="_blank">Forum</a>
                                </li>
                            </ul>
                            <a class="btn btn-cta" href="https://github.com/koseven/koseven" target="_blank">
                                <i class="fab fa-github"></i>
                                Go to Github
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
