{% include head.html %}

<body class="body-pink">
<div class="page-wrapper">

    {% include breadcrumbs.html current=page.class pre='documentation' api='true' %}

    <div class="content-wrapper">
        <div class="container">
            <div class="content-header text-center" id="content-header">
                <h1 class="content-title api-header">
                    <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                    Class {{ page.class }}
                </h1>
            </div>
            <div class="content-body row">
                <div class="col-md-9 col-12 order-1">
                    <div class="content-inner">
                        <section class="api content-section" id="dashboards">
                            {{ content }}
                        </section>
                    </div>
                </div>
                <div class="content-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                    <div class="content-nav" id="content-nav">
                        {% capture menu_include %}{% include_relative menu.md %}{% endcapture %}
                        {{ menu_include | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include promo.html %}

</div>

{% include footer.html %}

<script src="/assets/js/documenation.js"></script>
</body>
</html>
