{% include head.html %}
<body class="body-pink">
<div class="page-wrapper">
    <!-- ******Header****** -->
    <header class="header" id="header">
        <div class="container">
            <div class="branding">
                <h1 class="logo">
                    <a href="/index.html">
                        <span aria-hidden="true" class="icon_documents_alt icon"></span>
                        <span class="text-highlight">Koseven</span><span class="text-bold">Framework</span>
                    </a>
                </h1>
            </div><!--//branding-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                <li class="breadcrumb-item active"><a href="/documentation.html">Documentation</a></li>
                <li class="breadcrumb-item active"><a href="index.html">{{ page.title }}</a></li>
            </ol>
        </div><!--//container-->
    </header><!--//header-->
    <div class="doc-wrapper">
        <div class="container">
            <div class="doc-header text-center" id="doc-header">
                <h1 class="doc-title"><span aria-hidden="true" class="icon icon_puzzle_alt"></span> {{ page.title }}
                </h1>
            </div><!--//doc-header-->
            <div class="doc-body row">
                <div class="doc-content col-md-9 col-12 order-1">
                    <div class="content-inner">
                        <section class="doc-section" id="dashboards">
                            {{ content }}
                        </section><!--//doc-section-->
                    </div><!--//content-inner-->
                </div><!--//doc-content-->
                <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                    <div class="doc-nav" id="doc-nav">
                        {% capture menu_include %}{% include_relative menu.md %}{% endcapture %}
                        {{ menu_include | markdownify }}
                    </div><!--//doc-nav-->
                </div>
            </div><!--//doc-body-->
        </div><!--//container-->
    </div><!--//doc-wrapper-->
    <div class="promo-block" id="promo-block">
        <div class="container">
            <div class="promo-block-inner">
                <h3 class="promo-title text-center"><i class="fas fa-heart"></i> <a
                        href="https://themes.3rdwavemedia.com/bootstrap-templates/portfolio/instance-bootstrap-portfolio-theme-for-developers/"
                        target="_blank">Are you an ambitious and entrepreneurial developer?</a></h3>
                <div class="row">
                    <div class="figure-holder col-lg-5 col-md-6 col-12">
                        <div class="figure-holder-inner">
                            <a href="https://themes.3rdwavemedia.com/bootstrap-templates/portfolio/instance-bootstrap-portfolio-theme-for-developers/"
                               target="_blank"><img alt="Instance Theme" class="img-fluid"
                                                    src="assets/images/demo/instance-promo.jpg"/></a>
                            <a class="mask"
                               href="https://themes.3rdwavemedia.com/bootstrap-templates/portfolio/instance-bootstrap-portfolio-theme-for-developers/"><i
                                    class="icon fa fa-heart pink"></i></a>

                        </div>
                    </div><!--//figure-holder-->
                    <div class="content-holder col-lg-7 col-md-6 col-12">
                        <div class="content-holder-inner">
                            <div class="desc">
                                <h4 class="content-title"><strong> Instance - Bootstrap 4 Portfolio Theme for Aspiring
                                    Developers</strong></h4>
                                <p>Check out <a
                                        href="https://themes.3rdwavemedia.com/bootstrap-templates/portfolio/instance-bootstrap-portfolio-theme-for-developers/"
                                        target="_blank">Instance</a> - a Bootstrap personal portfolio theme I created
                                    for developers. The UX design is focused on selling a developer’s skills and
                                    experience to potential employers or clients, and has <strong class="highlight">all
                                        the winning ingredients to get you hired</strong>. It’s not only a HTML site
                                    template but also a marketing framework for you to <strong class="highlight">build
                                        an impressive online presence with a high conversion rate</strong>. </p>
                                <p><strong class="highlight">[Tip for developers]:</strong> If your project is Open
                                    Source, you can use this area to promote your other projects or hold third party
                                    adverts like Bootstrap and FontAwesome do!</p>
                                <a class="btn btn-cta"
                                   href="https://themes.3rdwavemedia.com/bootstrap-templates/portfolio/instance-bootstrap-portfolio-theme-for-developers/"
                                   target="_blank"><i class="fas fa-external-link-alt"></i> View Demo</a>

                            </div><!--//desc-->


                            <div class="author"><a href="https://themes.3rdwavemedia.com">Xiaoying Riley</a></div>
                        </div><!--//content-holder-inner-->
                    </div><!--//content-holder-->
                </div><!--//row-->
            </div><!--//promo-block-inner-->
        </div><!--//container-->
    </div><!--//promo-block-->

</div><!--//page-wrapper-->
<script src="/assets/plugins/jquery-3.3.1.min.js"></script>
<script src="/assets/js/documenation.js"></script>
{% include footer.html %}
</body>
</html>

